@font-face {
  font-family: NotoSansJP;
  font-weight: 900;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Black.otf')
    format('opentype');
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 700;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf')
    format('opentype');
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 500;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf')
    format('opentype');
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 400;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 300;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Light.otf')
    format('opentype');
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 100;
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Thin.otf')
    format('opentype');
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  background-color: rgb(2, 2, 7);
  font-family: NotoSansJP;
}
