$p-dim: 128px;

.info-display-bg {
  background-color: transparent;
  position: absolute;
  padding: 0 24px 0;
  bottom: 1px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  overflow-y: scroll;
  box-sizing: border-box;

  .info-display-container {
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(194, 194, 194);
    border-radius: 12px 12px 0 0;

    margin: calc(40px + #{$p-dim}) 0 0;
    padding: 92px 24px 0;
    position: relative;

    box-sizing: border-box;

    max-width: 560px;
    width: 100%;
    min-height: calc(920px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;

    .info-display-header {
      height: $p-dim;
      width: $p-dim;
      border-radius: 50%;

      position: absolute;
      top: -#{$p-dim/2};
      left: calc(50% - #{$p-dim/2});

      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
